{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <p>Please enter the share symbol and amount of shares you want to purchase:</P>
    <br>
    <p>The balance of your account is {{ balance }}</p>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
